# Modules, Requests und arbeiten mit APIs

#### 0. Importiere die Module requests und pandas, die verwenden würdest

In [10]:
!pip3 install requests

Collecting requests
  Using cached requests-2.18.4-py2.py3-none-any.whl
Collecting urllib3<1.23,>=1.21.1 (from requests)
  Using cached urllib3-1.22-py2.py3-none-any.whl
Collecting certifi>=2017.4.17 (from requests)
  Using cached certifi-2017.7.27.1-py2.py3-none-any.whl
Collecting idna<2.7,>=2.5 (from requests)
  Using cached idna-2.6-py2.py3-none-any.whl
Collecting chardet<3.1.0,>=3.0.2 (from requests)
  Using cached chardet-3.0.4-py2.py3-none-any.whl
Installing collected packages: urllib3, certifi, idna, chardet, requests
Successfully installed certifi-2017.7.27.1 chardet-3.0.4 idna-2.6 requests-2.18.4 urllib3-1.22

In [11]:
!pip3 install pandas

Collecting pandas
  Using cached pandas-0.20.3-cp36-cp36m-macosx_10_12_x86_64.whl
Collecting numpy>=1.7.0 (from pandas)
  Using cached numpy-1.13.3-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
Collecting pytz>=2011k (from pandas)
  Using cached pytz-2017.2-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/site-packages (from python-dateutil>=2->pandas)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.13.3 pandas-0.20.3 pytz-2017.2

In [38]:
!pip3 install datetime

Collecting datetime
  Downloading DateTime-4.2-py2.py3-none-any.whl (60kB)
    100% |████████████████████████████████| 61kB 2.6MB/s ta 0:00:011
Requirement already satisfied: pytz in /usr/local/lib/python3.6/site-packages (from datetime)
Collecting zope.interface (from datetime)
  Downloading zope.interface-4.4.3.tar.gz (147kB)
    100% |████████████████████████████████| 153kB 4.9MB/s ta 0:00:011
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/site-packages (from zope.interface->datetime)
Building wheels for collected packages: zope.interface
  Running setup.py bdist_wheel for zope.interface ... done
  Stored in directory: /Users/tseiler/Library/Caches/pip/wheels/8b/39/98/0fcb72adfb12b2547273b1164d952f093f267e0324d58b6955
Successfully built zope.interface
Installing collected packages: zope.interface, datetime
Successfully installed datetime-4.2 zope.interface-4.4.3

In [1]:
import requests
import pandas as pd
import datetime as dt

#### 1. Suche ein paar Beispiele von APIs. Von solchen, die mit und ohne Schlüssel, verwendet werden können und liste sie auf.

In [2]:
Twitter API
Google Maps API
OpenWeather API

SyntaxError: invalid syntax (<ipython-input-2-c7408d9b14d4>, line 1)

#### 2. Lese eine dieser APIs mit requests ein und rufe die Ergebnisse auf.

In [4]:
url = "http://api.openweathermap.org/data/2.5/weather?q=zurich"
response = requests.get(url)

#### 3. Zurück zum [Erdbeben API](https://earthquake.usgs.gov). Wie viele Erdbeben wurden im August 2017  verzeichnet?

In [23]:
url = 'https://earthquake.usgs.gov/fdsnws/event/1/count?'
time = 'starttime=2017-08-01T00:00:00&endtime=2017-08-31T23:59:59'

answer = requests.get(url+time)
answer.text

'11819'

#### 4. Und wie viele Erdbeben im Juli?

In [24]:
url = 'https://earthquake.usgs.gov/fdsnws/event/1/count?'
time = 'starttime=2017-07-01T00:00:00&endtime=2017-07-31T23:59:59'

answer = requests.get(url+time)
answer.text

'12980'

#### 5. In welchem Monat des aktuellen Jahres wurden am meisten Erdbeben verzeichnet?

In [6]:
month = ["01", "02", "03", "04", "05", "06", "07", "08", "09"]
url = 'https://earthquake.usgs.gov/fdsnws/event/1/count?'
urlt1 = 'starttime=2017-'
urlt2 = '-01T00:00:00&endtime=2017-'
urlt3 = '-31T23:59:59'


for month in month: 
    answer = requests.get(url + urlt1 + month + urlt2 + month + urlt3)
    print("In Month " + month + " there were " + str(answer.text) + " earthquakes." )

In Month 01 there were 11391 earthquakes.
In Month 02 there were 8700 earthquakes.
In Month 03 there were 9122 earthquakes.
In Month 04 there were 11448 earthquakes.
In Month 05 there were 11836 earthquakes.
In Month 06 there were 10627 earthquakes.
In Month 07 there were 12980 earthquakes.
In Month 08 there were 11820 earthquakes.
In Month 09 there were 10094 earthquakes.

#### 6. Wandle das in einen Pandas Dataframe um

In [7]:
months = ["01", "02", "03", "04", "05", "06", "07", "08", "09"]
url = 'https://earthquake.usgs.gov/fdsnws/event/1/count?'
urlt1 = 'starttime=2017-'
urlt2 = '-01T00:00:00&endtime=2017-'
urlt3 = '-31T23:59:59'
earthquakes = []

for month in months: 
    answer = requests.get(url + urlt1 + month + urlt2 + month + urlt3)
    earthquakes.append({"month": month, "number": answer.text})

print(earthquakes)

[{'month': '01', 'number': '11391'}, {'month': '02', 'number': '8700'}, {'month': '03', 'number': '9122'}, {'month': '04', 'number': '11448'}, {'month': '05', 'number': '11836'}, {'month': '06', 'number': '10627'}, {'month': '07', 'number': '12980'}, {'month': '08', 'number': '11820'}, {'month': '09', 'number': '10094'}]

In [8]:
df = pd.DataFrame(earthquakes)
df.sort_values(by='month', ascending=True)

  month number
0    01  11391
1    02   8700
2    03   9122
3    04  11448
4    05  11836
5    06  10627
6    07  12980
7    08  11820
8    09  10094

#### 7. Und speicher das Ergebnis ab

In [10]:
df.to_csv("allEarthquakes_2017")

In [13]:
df

  month number
0    01  11391
1    02   8700
2    03   9122
3    04  11448
4    05  11836
5    06  10627
6    07  12980
7    08  11820
8    09  10094

In [12]:
df[['number', 'month']].copy()

  number month
0  11391    01
1   8700    02
2   9122    03
3  11448    04
4  11836    05
5  10627    06
6  12980    07
7  11820    08
8  10094    09